<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/criarConta">Criar conta</a>
    <br><br><br>
    {% for usuario in usuarios %}
        <li style="display: inline-block;"> {{usuario.login}}</li> 
        <a href="{% url 'editar' usuario.token %}" style="display: inline-block;">
            <button>Editar</button>
        </a>
        <a href="{% url 'apagar' usuario.token %}" style="display: inline-block;">
            <button>Apagar</button>
        </a>
        <br><br>
    {% endfor %}
</body>
</html>